html {
    padding: 0;
    border: 0;
    font-family: calibri, serif;
    background: url(/media/background2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Margin Mobile */
#marginMobileTitle2 {
    display: none;
    padding-top: 100px;
    padding-left: 5%;
    padding-bottom: 2%;
    text-shadow: 0.02em 0.02em 1px #878787;
}

/* END of Margin Mobile */

#eventProfileTitle {
    padding-top: 4%;
    padding-bottom: 2%;
    text-shadow: 0.02em 0.02em 2px #878787;
    color: #292929;
}

section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.2em;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

#eventImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: #878787 2px 2px 4px;
    border-radius: 12px;
}

.eventImageMargin {
    margin-right: 35px;
}

.childDiv1 {
    margin-top: -40px;
}
.childDiv2 {
    margin-top: -10px;
}

.inlineTitle {
    margin-right: 10px;
}

.hyphen {
    margin-left: 5px;
    margin-right: 5px;
}

p {
    margin-top: -12px;
}

#descriptionP {
    max-width: 1100px;
}

.shareEventInput {
    height: 29px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    border: 2px solid #6558f5;
    font-weight: bold;
    cursor: pointer;
    background: #b987e1 url(/media/share.png) right no-repeat;
    background-size: 33px;
    background-position-x: 127px;
    background-position-y: 2px;
    padding: 9px 48px 29px 17px;
}
.shareEventInput:hover {
    background: #6558f5 url(/media/shareWhite.png) right no-repeat;
    background-size: 33px;
    background-position-x: 127px;
    background-position-y: 2px;
    color: white;
}

.joinEventInput {
    height: 29px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    border: 2px solid #6558f5;
    font-weight: bold;
    cursor: pointer;
    background: #b987e1 url(/media/join.png) right no-repeat;
    background-size: 33px;
    background-position-x: 113px;
    background-position-y: 2px;
    padding: 9px 48px 29px 17px;
}
.joinEventInput:hover {
    background: #6558f5 url(/media/joinWhite.png) right no-repeat;
    background-size: 33px;
    background-position-x: 113px;
    background-position-y: 2px;
    color: white;
}

.shareEventInputMargin {
    margin-right: 20px;
}

.lastDiv {
    margin-top: 40px;
    margin-bottom: 50px;
}


/* RESPONSIVE */

@media screen and (max-width: 600px) {
    #eventProfileTitle {
        display: none;
    }
    #marginMobileTitle2 {
        display: block;
    }
    .shareEventInput {
        display: none;
    }
    .shareEventInput:hover {
        background: #6558f5 url(/media/shareWhite.png) right no-repeat;
        background-size: 27px;
        background-position-x: 115px;
        background-position-y: 3px;
        color: white;
    }
    .joinEventInput {
        display: none;
    }
    .joinEventInput:hover {
        background: #6558f5 url(/media/joinWhite.png) right no-repeat;
        background-size: 27px;
        background-position-x: 101px;
        background-position-y: 3px;
        color: white;
    }
    .shareEventInputMobile {
        display: block;
        height: 29px;
        border-radius: 21px;
        color: white;
        font-size: 18px;
        border: 2px solid #6558f5;
        font-weight: bold;
        cursor: pointer;
        background: #b987e1 url(/media/share.png) right no-repeat;
        background-size: 27px;
        background-position-x: 115px;
        background-position-y: 3px;
        padding: 7px 38px 28px 9px;
        margin-bottom: 10px;
    }
    .joinEventInputMobile {
        display: block;
        height: 29px;
        border-radius: 21px;
        color: white;
        font-size: 18px;
        border: 2px solid #6558f5;
        font-weight: bold;
        cursor: pointer;
        background: #b987e1 url(/media/join.png) right no-repeat;
        background-size: 27px;
        background-position-x: 101px;
        background-position-y: 3px;
        padding: 7px 38px 28px 9px;
        margin-bottom: 10px;
    }
    #eventImage {
        width: 248px;
        height: 248px;
    }
}

@media screen and (max-width: 600px) {
    #eventProfileTitle {
        display: none;
    }
    #marginMobileTitle2 {
        display: block;
    }
}