html {
    padding: 0;
    border: 0;
    font-family: calibri, serif;
    background: url(/media/background2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Mobile Margin */
#marginMobileTitle2 {
    display: none;
    text-shadow: 0.02em 0.02em 1px #878787;
    padding: 100px 31px 2% 5%;
    white-space: nowrap;
}

#titleDiv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.pushRight {
    margin-top: 20px;
    float: right;
}

.item {
    display: inline-block;
    padding-top: 4%;
    padding-left: 5%;
    padding-bottom: 2%;
    text-shadow: 0.02em 0.02em 1px #878787;
}

#searchLabel {
    margin-right: 5px;
    font-size: 16px;
}

#searchEvents {
    padding: 8px 0 8px 15px;
    border: 2px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

#eventsTitle {
    padding-left: 5%;
    padding-top: 4%;
    padding-bottom: 2%;
    text-shadow: 0.02em 0.02em 2px #878787;
    color: #292929;
    white-space: nowrap;
}

.item2 {
    margin-top: -10px;
    padding-left: 5%;
    padding-bottom: 5%;
    text-shadow: 0.02em 0.02em 1px #878787;
}

#checkbox {
    zoom: 1.35;
}

#orderCheckbox {
    font-size: 16px;
    position: relative;
    top: -3px;
}

/* SECTION */
.parentDiv {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
    background-color: silver;
    border-radius: 12px;
    border: 2px solid #909090;
}
a {
    text-decoration: none;
    color: black;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

.eventImageSection {
    width: 66px;
    height: 65px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: 1px;
    margin-top: 1px;
}

.joinButton {
    height: 50px;
    border-radius: 15px;
    color: #282828;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background: #b987e1 url(/media/join.png) right no-repeat;
    border: 2px solid #6558f5;
    background-size: 23px;
    background-position-x: 34px;
    padding-right: 30px;
    padding-left: 8px;
    margin-right: 25px;
}
.joinButton:hover {
    background: #6558f5 url(/media/joinWhite.png) right no-repeat;
    background-size: 23px;
    background-position-x: 34px;
    color: white;
}
.shareButton {
    height: 50px;
    border-radius: 15px;
    color: #282828;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background: #b987e1 url(/media/share.png) right no-repeat;
    border: 2px solid #6558f5;
    background-size: 25px;
    background-position-x: 45px;
    padding-right: 30px;
    padding-left: 8px;
}
.shareButton:hover {
    background: #6558f5 url(/media/shareWhite.png) right no-repeat;
    background-size: 25px;
    background-position-x: 45px;
    color: white;
}

.ratingImage {
    width: 45px;
}

.eventDateSection {
    width: 11%;
    margin-right: 5%;
    margin-bottom: -2px;
    margin-top: -2px;
}
.eventDateSectionChildDiv {
    white-space: nowrap;
}
.lastDate {
    margin-top: -15px;
}
.eventLocationSection {
    margin-left: 4px;
    display: flex;
    width: 12%;
    align-items: center;
}
.eventJoinButtonSection {
    display: flex;
    width: 20%;
    justify-content: end;
    align-items: center;
}
.eventShareButtonSection {
    display: flex;
    width: 10%;
    justify-content: end;
    align-items: center;
}
.eventRatingSection {
    display: flex;
    width: 11%;
    white-space: nowrap;
    justify-content: end;
    align-items: center;
    font-weight: bold;
}

.hyphen {
    margin-left: 3px;
    margin-right: 3px;
}

#marginToFooter {
    margin-bottom: 40px;
}

/* ADD EVENT BUTTON */
.addEventButtonDiv {
    width: 24%;
    display: flex;
    justify-content: center;
    margin: 45px auto 100px;
}

.addEventButton {
    width: 100%;
    height: 60px;
    border-radius: 15px;
    color: #282828;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background: #96c3ec url(/media/calendar.png) right no-repeat;
    border: 2px solid #2c88d9;
    background-size: 48px;
    background-position-x: 89%;
    padding-right: 66px;
    padding-left: 13px;
    max-width: 235px;
    min-width: 150px;
}

.addEventButton:hover {
    background: #cae1f5 url(/media/calendar.png) right no-repeat;
    background-size: 48px;
    background-position-x: 89%;
}

.gridTitlePositioning {
    width: 17%;
    margin-left: 1.8%;
}

/* RESPONSIVE */

@media screen and (max-width: 790px) {
    .parentDiv {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 20% 20% 20%;
        column-gap: 10px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -7px;
        background-color: transparent;
        border-radius: 0;
        border: none;
    }
    .eventJoinButtonSection {
        display: none;
    }
    .eventShareButtonSection {
        display: none;
    }
    .gridImgPositioning {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .eventImageSection {
        height: 100%;
        width: 100%;
        border-radius: 8px;
    }
    .gridTitlePositioning {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .eventDateSection {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        margin-left: 2%;
    }
    .eventLocationSection {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
        margin-left: 2%;
    }
    .eventRatingSection {
        display: block;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .addEventButtonDiv {
        margin: -38px auto 100px;
    }
}

@media screen and (max-width: 600px) {
    .pushRight {
        padding-top: 120px;
    }
    #marginMobileTitle2 {
        display: block;
    }
    #eventsTitle {
        display: none;
    }
}

@media screen and (max-width: 544px) {
    .pushRight {
        padding-top: 0;
        margin-top: -15px;
        float: left;
        margin-left: 2%;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 350px) {
    .parentDiv {
        grid-template-rows: 15% 15% 15% 15%;
        margin-bottom: -71px;
    }
    .eventLocationSection {
        margin-top: 29px;
    }
    .eventRatingSection {
        margin-top: -9px;
        padding-bottom: 14px;
    }
}